/* Background */
html {
	color: black;
	background-color: black;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-attachment: fixed;
}



/* Menu*/
.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0, 0.9); 
	overflow-x: hidden; 
	transition: 0.5s; 
}

	.overlay-content {
		position: relative;
		top: 25%; 
		width: 100%; 
		text-align: center; 
		margin-top: 30px; 
	}

	.overlay a {
		padding: 8px;
		text-decoration: none;
		font-size: 36px;
		color: #818181;
		display: block;
		transition: 0.3s; 
	}

	.overlay a:hover, .overlay a:focus {
		color: #f1f1f1;
	}

	.overlay .closebtn {
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
	}



/*Header*/
.header {
	text-decoration: none;
	display: flex;
	padding: 20px;
	justify-content: space-between;
}
	.header #nom a {
		padding: 8px;
		text-decoration: none;
		font-size: 32px;
		color: white;
		text-align: center;
	}
	.header #menu img {
		position:absolute;
		width: 3%;
	}
	.header #langage a, span {
		padding: 8px;
		text-decoration: none;
		font-size: 16px;
		color: white;
	}

/*Page index*/
.news {
	opacity: 0.9;
	border-style: groove;
	padding: 30px;
	margin-top: 100px;
	margin-left: 25%;
	margin-right: 25%;
	background-color: black;
	font-size: 16px;
	text-align: left;
	color: white;
}
	.news ul li {
		margin: 0 0 20px 0;
	}

	.news a{
		padding: 8px;
		text-decoration: none;
		font-size: 16px;
		color: white;
	}
	.news a:hover {
		color: greenyellow;
	}
.newsSections {
	border-style: groove;
	padding: 10px;
}
	.newsSections img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		width: 60%;
	}



/*Page telechargement*/
.download {
	border-style: groove;
	text-align: left;
	color: lightgray;
	padding: 30px;
	margin-top: 100px;
	margin-left: 25%;
	margin-right: 25%;
	background-color: black;
}

	.download h1 {
		text-align: center;
	}
	.download ol li {
		margin: 0 0 20px 0;
		font-size: 20px;
	}
	#logos_OS {
		text-align:center;
	}
		#logos_OS img {
			width: 8%;
			margin-right: 60px;
		}

.download a {
	text-decoration: none;
	color: greenyellow;
	text-align: center;
}

/*Page contact*/
.contact {
	border-style: groove;
	color: lightgray;
	padding: 30px;
	margin-top: 100px;
	margin-left: 25%;
	margin-right: 25%;
	background-color: black;
	text-align: center;
}
	.contact span {
		font-size:40px;
	}
	.contact p {
		font-size: 24px;
	}
	.contact #logos a {
		margin: 40px;
	}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 15px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

	.fa:hover {
		opacity: 0.7;
	}


	.fa-google {
		background: #dd4b39;
		color: white;
	}

	.fa-linkedin {
		background: #007bb5;
		color: white;
	}

	.fa-skype {
		background: #00aff0;
		color: white;
	}


/*Page profil*/
.profil {
	border-style: groove;
	color: lightgray;
	padding: 30px;
	margin-top: 100px;
	margin-left: 25%;
	margin-right: 25%;
	background-color: black;
	text-align: center;
}

	.profil span {
		font-size: 40px;
	}
	.profil #titre {
		font-size: 24px;
	}
	.profil img{
		padding: 20px;
		width: 25%;
	}
	.profil a {
		padding: 8px;
		text-decoration: none;
		font-size: 16px;
		color: greenyellow;
	}

	.desc_profil {
		text-align: left;
	}
		.desc_profil u {
			margin-bottom:10px;
		}


/*Page portfolio*/
.portfolio {
	border-style: groove;
	text-align: left;
	color: lightgray;
	padding: 30px;
	margin-top: 100px;
	margin-left: 25%;
	margin-right: 25%;
	background-color: black;
	font-size: 16px;
}

	.portfolio img, iframe{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	.portfolio #scenario {
		color: cornflowerblue;
	}

	.portfolio #lien_dl {
		text-decoration: none;
		color: white;
	}

	.portfolio li {
		padding: 8px;
	}

	.portfolio h2{
		padding-top:15px;
	}

/*Tableau avancee du projet*/
#customers {
	font-family: Arial, Helvetica, sans-serif;
	color: cornflowerblue;
	border-collapse: collapse;
	width: 100%;
}

	#customers td, #customers th {
		border: 1px solid #ddd;
		padding: 8px;
	}

	#customers tr:hover {
		background-color: #ddd;
	}

	#customers th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: center;
		background-color: cornflowerblue;
		color: white;
	}
#etape {
	text-align: center;
}
#jobsuccess {
	background-color: green;
	text-align: center;
	color: white;
}
#pending {
	background-color: orange;
	text-align: center;
	color: white;
}
#undone{
background-color: red;
text-align: center;
color: white;
}
/*Galerie images*/

div.gallery {
	border: 1px solid #ccc;
}

	div.gallery:hover {
		border: 1px solid #777;
	}

	div.gallery img {
		width: 100%;
		height: auto;
	}

div.desc {
	padding: 15px;
	text-align: center;
}

.responsive {
	box-sizing: border-box;
	padding: 6px;
	float: left;
	width: 24.99999%;
}

@media only screen and (max-width: 700px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}
}

@media only screen and (max-width: 500px) {
	.responsive {
		width: 100%;
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


	@media all and (max-width: 1000px) {
		.overlay a {
			font-size: 20px
		}

		.overlay .closebtn {
			font-size: 40px;
			top: 15px;
			right: 35px;
		}
		/*Header*/
		.header {
			text-decoration: none;
			padding: 0px;
			justify-content: flex-start;
			flex-direction: column;
		}

			.header #nom a {
				padding: 8px;
				text-decoration: none;
				font-size: 16px;
				color: white;
				display: block;
				align-content: center;
			}

			.header #menu img {
				width: 8%;
			}

		/*Page profil*/
		.profil, .portfolio, .download, .contact{
			border-style: groove;
			color: lightgray;
			padding: 30px;
			margin-top: 50px;
			margin-left: 0%;
			margin-right: 0%;
			background-color: black;
			text-align: center;
		}

		/*Tableau avancee du projet*/
		#customers {
			font-family: Arial, Helvetica, sans-serif;
			color: cornflowerblue;
			border-collapse: collapse;
			width: 100%;
		}

			#customers td, #customers th {
				border: 1px solid #ddd;
				padding: 8px;
			}

			#customers tr:hover {
				background-color: #ddd;
			}

			#customers th {
				padding-top: 12px;
				padding-bottom: 12px;
				text-align: center;
				background-color: cornflowerblue;
				color: white;
			}
	}


	@media screen and (max-height: 550px) {
		.overlay a {
			font-size: 20px
		}

		.overlay .closebtn {
			font-size: 40px;
			top: 15px;
			right: 35px;
		}
	}